body, body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root {
    --asparagus: #8bb174ff;
    --myrtle-green: #426b69ff;
    --space-cadet: #222e50ff;
}

body {
    background-color: var(--asparagus)
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 450px;
    background-color: var(--myrtle-green);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid var(--space-cadet);
    border-radius: 25px;
    padding: 20px;
    text-align: center;
}
    .container .title {
        font-size: 40px;
        margin: 0 0 20px;
}
   .container > .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 15px;
}
    .row .text {
        margin-left: 30px;
        color: #fff;
        letter-spacing: 3px;
        font-size: 16px;
        line-height: 32px;
    }
    .container .row .value {
        margin-right: 50px;
        height: 25px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #0008;
        color: #fff;
        text-align: center;
        font-size: 16px;
    }
    .row .value::placeholder {
        color: #fff4;
    }
    .row .result {
        width: 100px;
        height: 25px;
        margin-right: 50px;
        color: #fff9;
        border: none;
        border-bottom: 1px solid #0008;
        
    }
    /* .row .result::before {
        position: absolute;
        right: 100px;
        width: 100px;
        height: 20px;
        content: '';
    } */

    .button {
        width: 120px;
        height: 25px;
        position: absolute;
        bottom: 15px;
        right: 70px;
        background-color: var(--asparagus);
        color: #000;
        font-size: 15px;
        line-height: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 3px #0004;
    }
        .button:hover {
            cursor: pointer;
            box-shadow: 1px 1px 10px #0008;
        }